body {
    font-size: 1.2rem;
    background-color: #8080ff;
    background-image:
        radial-gradient(circle, white 30%, transparent 30%),
        radial-gradient(circle, white 30%, transparent 30%);
    background-size: 80px 80px;
    /* Tamaño mayor para más separación */
    background-position: 0 0, 40px 40px;
    /* Ajuste para centrar los puntos */
    animation: move-dots 4s infinite linear;
    overflow-x: hidden;
    /* Evita el desbordamiento horizontal */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

#demotext {
    color: #8080ff;
    font: italic bold Georgia, Serif;
    text-shadow: -4px 3px 0 #4d4d9d, -14px 7px 0 #bababa;
}
#demotext-ex {
    color: #ff0080;
    font: italic bold Georgia, Serif;
    text-shadow: -4px 3px 0 #a00151, -14px 7px 0 #bababa;
}

@keyframes move-dots {
    from {
        background-position: 0 0, 40px 40px;
    }

    to {
        background-position: 80px 80px, 120px 120px;
        /* Movimiento ajustado para el tamaño mayor */
    }
}

.btn-primary{
    background-color: #ff0080;
    border: 2px solid black;
    padding: 5px 10px;
}

.btn-UI{
    background-color: #ff0080;
    border-radius: 100%;
    padding: 10px 10px;
    width: 100px;
    height: 100px;
}
.btn-UI-sm{
    background-color: #ff0080;
    border-radius: 100%;
    padding: 10px 10px;
    width: 50px;
    height: 50px;
}

#message-board {
    width: 100%;
    height: 550px;
    border: 2px solid black;
    position: relative;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.77);
    border-radius: 10px;
}

.envelope2 {
    width: 150px;
    height: 90px;
    background-image: url('assets/envelope2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    transform: rotate(0deg);
    transition: transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 5px;
    border: 2px #4d4d9d solid;
}

.envelope2:hover {
    transform: scale(1.2); /* Efecto al pasar el mouse */
    z-index: 999;
}

.envelope1 {
    width: 150px;
    height: 90px;
    background-image: url('assets/envelope1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    transform: rotate(0deg);
    transition: transform 0.3s;
    font-weight: bold;
    border-radius: 5px;
    border: 2px #a00151 solid;
}

.envelope1:hover {
    transform: scale(1.2); /* Efecto al pasar el mouse */
    z-index: 999;
}

#friendCodeInput, #friendCode  {
    font-family: monospace; /* Para que parezca un código */
    text-align: center;
}
